#### **玩转数据库**
##### **1.轻量级内置数据库SQLite3**
* **嵌入式关系数据库**

In [1]:
import sqlite3
# 要使用这个模块，必须先创建一个 Connection 对象，它代表数据库。下面例子中，数据将存储在 example.db 文件中：
conn = sqlite3.connect('test.db')

In [2]:
# 当有了 Connection 对象后，你可以创建一个 Cursor 游标对象，然后调用它的 execute() 方法来执行 SQL 语句：
cur = conn.cursor()

+ **创建表格 craete table**

In [3]:
#cur.execute('''CREATE TABLE stocks(data text, trans text, symbol text, qty real, price real)''')

* **插入一个数据**

In [4]:
# Insert a row of data
cur.execute("INSERT INTO stocks VALUES ('2006-01-05','BUY','RHAT',100,35.14)")

* **提交(Save the change)**

In [5]:
conn.commit()
# We can also close the connection if we are done with it.
# Just be sure any changes have been committed or they will be lost.
conn.close()

##### **2.Python连接操作其他数据库-MySQL**

In [6]:
import MySQLdb
import pymysql

* **MySQLdb**
    + conn = MySQLdb.connect() # 连接数据库,创建连接对象
    + conn.select_db(dbname) # 选择数据库
    + cousor = conn.cursor() # 创建游标对象

In [10]:
# conn1 = pymysql.connect(host='localhost')
conn = MySQLdb.connect()

OperationalError: (2003, "Can't connect to MySQL server on 'localhost' (10061)")

In [ ]:
conn1.select_db('test')